<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../adminComponents/headerFile.ejs %>
</head>

<body>
    <% include ../adminComponents/header.ejs %>
        <div class="form-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <div class="col-md-12">
                                <div class="col-md-8">
                                    <h4 class="m-t-0 header-title">
                                        All Pitchs</h4>
                                    <p class="text-muted m-b-30 font-14">Manage All Pitch From Here.</p>
                                </div>
                                <div class="col-md-4">
                                    <div class="custom-right right">
                                        <a class="btn btn-primary" href="/admin/get_user_list">
                                            <span class="glyphicon glyphicon-plus">
                                            </span> All User Lisiting </a>
                                    </div>
                                </div>
                            </div>

                            <div class="row data-table-wapper">
                                <table id="example" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Company Name</th>
                                            <th>Page Count</th>
                                            <th>User Name</th>
                                            <th>Status</th>
                                            <th>Created</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_datatable">
                                        <% for(var i=0; i < data.length; i++) { %>
                                            <tr>
                                                <td>
                                                    <%= data[i].company_name %>
                                                </td>
                                                <td>
                                                    <%= data[i].page_count %>
                                                </td>
                                                <td>
                                                    <%= data[i].username %>
                                                </td>
                                                <% if(data[i].activated=="yes"){%>
                                                    <td>
                                                        <button type="button" class="btn btn-success" onclick="myDeactive('<%= data[i].user_id %>')">Active</button>
                                                    </td>
                                                    <% } else { %>
                                                        <td>
                                                            <button type="button" class="btn btn-danger" onclick="myActivate('<%= data[i].user_id %>')">Deactive</button>
                                                        </td>
                                                        <% } %>
                                                            <td>
                                                                <%= data[i].created %>
                                                            </td>
                                                            <td>
                                                                <!-- <a class="action-table" href="javascript:void(0)">
                                                         <span class="glyphicon glyphicon-eye-open"></span>
                                                         </a> -->
                                                                <a class="action-table" href="javascript:ConfirmDeleteUser('<%= data[i].user_id %>')">
                                                                    <span class="glyphicon glyphicon-trash"></span>
                                                                </a>
                                                            </td>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <!-- end card-box -->
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/module/admin/pitchListing.js"></script>
</body>

</html>