<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        <%= title %>
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!-- Optional theme -->

    <script src="/js/jquery.min.js"></script>
    <!--jquery js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- bootstrap js -->
    <script src="https://use.fontawesome.com/8a22b161e0.js"></script>
    <!-- font awesome -->


    <link rel="stylesheet" href="/stylesheets/slider-page.css">
    <link rel="stylesheet" href="/stylesheets/slick.css">
    <link rel="stylesheet" href="/stylesheets/slick-theme.css">
    <!-- custom css -->

    <!-- Validation.Js -->
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/additional-methods.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="slider-main-wrapper">
            <div class="gallery-wrap">
                <div class="single-item">
                    <% for(var i=0; i < data.length; i++) { %>
                        <div class="slide">
                            <div class="edit-wrap">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="top-area">
                                            <h2>
                                                <%= data[i].company_name %>
                                            </h2>
                                            <% if(data[i].pitch_attachment_type == 'image') { %>
                                                <div class="preview">
                                                    <img src="<%= dir_parth+data[i].pitch_attachment_name %>" class="img-responsive" alt="preview">
                                                </div>
                                                <% } %>
                                                    <% if (data[i].pitch_attachment_type == 'video') { %>
                                                        <div class="preview">
                                                            <video width="400" controls>
                                                                <source src="<%= dir_parth+data[i].pitch_attachment_name %>" class="video_here">                                                                Your
                                                                browser does not support HTML5 video.
                                                            </video>
                                                        </div>
                                                        <% } %>
                                                            <% if (data[i].pitch_attachment_type == 'application') { %>
                                                                <div class="preview">
                                                                    <embed src="<%= dir_parth+data[i].pitch_attachment_name %>" class="docs_priview_e" width="500" height="600" />
                                                                </div>
                                                                <% } %>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="slider-text">
                                            <p>
                                                <%= data[i].pitch_attachment_text %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-btn">
                                    <a href="" class="a-another-btn">hubPitch</a>
                                    <div class="slide-count-wrap">
                                        <span>Page</span>
                                        <span class="current"> </span> of
                                        <span class="total_pitch"> <%= results_length %> </span>
                                    </div>
                                    <a href="javascript:void(0)" class="share-btn">
                                        Share
                                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
            <a href="" class="send-message" data-toggle="modal" data-target="#chat-window"> Send Jonathan a Message </a>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="chat-window" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">Dennis S.</h5>
                    <h5 class="">hubpitch</h5>
                </div>
                <div class="modal-body">


                    <div class="msg-block">
                        <div class="msg-head">
                            <h5>Jack Sparrow</h5>
                            <span class="time-right">11:00 AM</span>
                        </div>
                        <p>Hello. How are you today?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis
                            ullamcorper ligula sodales.</p>

                    </div>

                    <div class="msg-block darker">
                        <div class="msg-head">
                            <h5>Bhaumik Patel</h5>
                            <span class="time-right">11:01 AM</span>
                        </div>
                        <p>Hey! I'm fine. Thanks for asking!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis
                            ullamcorper ligula sodales.</p>

                    </div>


                </div>
                <div class="typing-box">
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here...">
                            <span class="input-group-btn">
                                <button class="btn btn-warning btn-sm" id="btn-chat">
                                    Send</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->

    <script src="/js/module/endUser/pitchSliders.js"></script>
    <script src="/js/module/endUser/pitchDeck.js"></script>
</body>

</html>