<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../component/headerFile.ejs %>
    <link rel="stylesheet" href="/stylesheets/slider-page.css">
    <link rel="stylesheet" href="/stylesheets/slick.css">
    <link rel="stylesheet" href="/stylesheets/slick-theme.css">
</head>

<body>
    <script src="/js/libraries/tinymce/tinymce.min.js"></script>
    <% include ../component/header.ejs %>
    <script>
        var instance = null;
        function display_docx(params, i) {
            var req = new XMLHttpRequest();
            //Check File URL & domain origin
            req.open("GET", site_url + params, true);
            //Response Type is Blob
            req.responseType = "blob";
            console.log('asda', req);
            req.onload = function (e) {
                var blob = req.response;
                var docxJS = new DocxJS();
                docxJS.parse(
                    blob,
                    function () {
                        //After Rendering
                        docxJS.render($('#loaded-layout_' + i)[0], function (result) {
                            if (result.isError) {
                                console.log(result.msg);
                            } else {
                                console.log("Success Render");
                            }
                        });
                    }, function (e) {
                        console.log("Error!", e);
                    }
                );
            };

            req.send();
        }

        function display_pptx(params, i) {
            var req = new XMLHttpRequest();
            //Check File URL & domain origin
            req.open("GET", site_url + params, true);
            //Response Type is Blob
            req.responseType = "blob";

            req.onload = function (e) {
                var blob = req.response;
                var slideJS = new SlideJS();
                slideJS.parse(
                    blob,
                    function () {
                        //After Rendering
                        slideJS.render($('#loaded-layout_' + i)[0], function (result) {
                            if (result.isError) {
                                console.log(result.msg);
                            } else {
                                console.log("Success Render");
                            }
                        });
                    }, function (e) {
                        console.log("Error!", e);
                    }
                );
                instance = slideJS;
            };
            req.send();
        }
        $(document).on('click', '.slick-active .prev-btn', function () {
            console.log('prev');
            currentId = instance.getCurrentId();
            instance.gotoPage(currentId - 1);
            console.log('instance', instance);
            return false;
        });
        $(document).on('click', '.slick-active .next-btn', function () {
            console.log('next');
            currentId = instance.getCurrentId();
            instance.gotoPage(currentId + 1);
            console.log('instance', instance);
            return false;
        });
        function display_excel(params, i) {
            var req = new XMLHttpRequest();
            //Check File URL & domain origin
            req.open("GET", site_url + params, true);
            //Response Type is Blob
            req.responseType = "blob";
            console.log('asda', req.response);
            req.onload = function (e) {
                var blob = req.response;
                var cellJS = null;
                cellJS = new CellJS();
                console.log(req);
                cellJS.parse(
                    blob,
                    function () {
                        //After Rendering
                        cellJS.render($('#loaded-layout_' + i)[0], function (result) {
                            if (result.isError) {
                                console.log(result.msg);
                            } else {
                                console.log("Success Render");
                            }
                        });
                    }, function (e) {
                        console.log("Error!", e);
                    }
                );
            };

            req.send();
        }
    </script>
    <div class="container">
        <div class="slider-main-wrapper user_pitch">
            <div class="gallery-wrap">
                <div class="single-item">
                    <% for(var i=0; i < data.length; i++) { %>
                    <div class="slide">
                        <div class="edit-wrap">
                            <div class="row">
                                <button type="button" class="share btn btn-primary float-right" data-toggle="modal"
                                    data-target="#share_pitch">Share</button>
                                <a href="/user/pitch/edit/<%= data[i].pitch_id %>" class="btn btn-primary float-right">Edit</a>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="top-area">
                                        <h2>
                                            <%= data[i].company_name %>
                                        </h2>
                                        <div class="analysis-section">
                                            <label class="total_views">Viewers: <span> <i class="fa fa-eye" aria-hidden="true"></i>
                                                    <%= data[i].total_views %> </span></label>
                                            <label class="total_share" data-toggle="modal" data-target="#share_details">Share:
                                                <span> <i class="fa fa-share-alt" aria-hidden="true"></i>
                                                    <%= data[i].share_times %> </span></label>
                                            <label class="pitch_views_time pitch_viewers"> <span onclick="pitchViewerDetails('<%= data[i].pitch_info_id %>')"> Page Details <i class="glyphicon glyphicon-stats" aria-hidden="true"> </i></span> </label>
                                        </div>
                                        <input type="hidden" class="pitch_info_token <%= i+1 %>_token" value="<%= data[i].pitch_info_id %>">
                                        <% if(data[i].pitch_attachment_type == 'image') { %>
                                        <input type="hidden" value="0" class="sliderViewer">
                                        <div class="preview">
                                            <img src="<%= dir_parth+data[i].pitch_attachment_name %>" class="img-responsive"
                                                alt="preview">
                                        </div>
                                        <% } %>
                                        <% if (data[i].pitch_attachment_type == 'video') { %>
                                        <div class="preview">
                                            <video width="400" controls>
                                                <source src="<%= dir_parth+data[i].pitch_attachment_name %>" class="video_here">
                                                Your
                                                browser does not support HTML5 video.
                                            </video>
                                        </div>
                                        <% } %>
                                        <% if (data[i].pitch_attachment_type == 'application') { %>
                                        <div class="preview">
                                            <embed src="<%= dir_parth+data[i].pitch_attachment_name %>" class="docs_priview_e"
                                                width="500" height="600" />
                                        </div>
                                        <% } %>
                                        <% if(data[i].pitch_attachment_type == 'docx') { %>
                                        <input type="hidden" value="0" class="sliderViewer">
                                        <div class="preview">
                                            <div id="loaded-layout_<%= i %>" style="width:1000px; height: 500px; border:1px solid #eee; margin: 20px 0;"></div>
                                            <script>
                                                var param = '<%= dir_parth+data[i].pitch_attachment_name %>';
                                                var i = '<%= i %>';
                                                display_docx(param, i);
                                            </script>
                                        </div>
                                        <% } %>
                                        <% if(data[i].pitch_attachment_type == 'pptx') { %>
                                        <input type="hidden" value="0" class="sliderViewer">
                                        <div class="preview pptx-view">
                                            <div id="loaded-layout_<%= i %>" style="width:1000px; height: 500px; border:1px solid #eee; margin: 20px 0;"></div>
                                            <script>
                                                var param = '<%= dir_parth+data[i].pitch_attachment_name %>';
                                                var i = '<%= i %>';
                                                display_pptx(param, i);
                                            </script>
                                            <div class="kuku-docx-controller">
                                                <button class="btn prev-btn">
                                                    <i class="fa fa-arrow-left"></i>
                                                    Prev</button>
                                                <button class="btn next-btn">
                                                    Next
                                                    <i class="fa fa-arrow-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <% } %>
                                        <% if(data[i].pitch_attachment_type == 'xlsx') { %>
                                        <input type="hidden" value="0" class="sliderViewer">
                                        <div class="preview pptx-view">
                                            <div id="loaded-layout_<%= i %>" style="width:1000px; height: 500px; border:1px solid #eee; margin: 20px 0;"></div>
                                            <script>
                                                var param = '<%= dir_parth+data[i].pitch_attachment_name %>';
                                                var i = '<%= i %>';
                                                display_excel(param, i);
                                            </script>
                                        </div>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="slider-text">
                                        <p>
                                            <%- data[i].pitch_attachment_text %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-btn">
                                <div class="">
                                    <a href="javascript:noteDetail('<%= data[i].pitch_info_id %>')">
                                        <label class="pitch_notes">Notes On This Page:
                                            <span> <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
                                                <%= data[i].note_count %>
                                            </span>
                                        </label>
                                    </a>
                                </div>
                                <div class="slide-count-wrap">
                                    <span>Page</span>
                                    <span class="current"> </span> of
                                    <span class="total_pitch">
                                        <%= results_length %> </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="modal fade" id="share_details" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Pitch Sharing Information In Detail</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <ul class="ul_list_wapper_sharing">

                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal fade" id="note_details" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content"> 
                    <div class="modal-header">
                        <h4 class="modal-title">Pitch Notes Created By Users In Details</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <ul class="ul_list_wapper_note">

                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="share_pitch" role="dialog">
        <input type="hidden" name="username" id="username_" value="<%= username %>" />
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Share Pitch</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div id="user_emails"> </div>
                    <div id="email_body_"> </div>
                    <div class="new_section">
                        <form method="post" id="formEmail" name="formEmail">
                            <div class="form-group">
                                <input type="text" class="form-control" name="emails" id="emails" placeholder="(eg:abc@incipio.com,xyz@ncpo.com,....)" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="public_link" id="public_link" placeholder="/viewer/xt9odt1n"
                                    value="<%= view_pitch %>" disabled />
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="email_body" name="email_body"> </textarea>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href=javascript:checkEmails(); class="btn btn-primary">Send</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade viewers-list" id="viewer_analysis" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Viewers</h4>
                </div>
                <div class="modal-body">
                    <div id="viewer_details" class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="viewer-info text-center">

                                <div class="primary">
                                    <p class="lable">Person A</p>
                                    <P>job title</P>
                                </div>

                                <p class="total-view"><span class="lable">Views:</span> 2</p>

                                <div class="viewer-time">
                                    <p class="lable">viewing Time:</p>
                                    <P>250 Seconds</P>
                                </div>

                                <div class="last-view-time">
                                    <p class="lable">last View:</p>
                                    <P>8:00 PM PST</P>
                                    <p>11/9/2018</p>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="viewer-info text-center">

                                <div class="primary">
                                    <p class="lable">Person A</p>
                                    <P>job title</P>
                                </div>

                                <p class="total-view"><span class="lable">Views:</span> 2</p>

                                <div class="viewer-time">
                                    <p class="lable">viewing Time:</p>
                                    <P>250 Seconds</P>
                                </div>

                                <div class="last-view-time">
                                    <p class="lable">last View:</p>
                                    <P>8:00 PM PST</P>
                                    <p>11/9/2018</p>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="viewer-info text-center">

                                <div class="primary">
                                    <p class="lable">Person A</p>
                                    <P>job title</P>
                                </div>

                                <p class="total-view"><span class="lable">Views:</span> 2</p>

                                <div class="viewer-time">
                                    <p class="lable">viewing Time:</p>
                                    <P>250 Seconds</P>
                                </div>

                                <div class="last-view-time">
                                    <p class="lable">last View:</p>
                                    <P>8:00 PM PST</P>
                                    <p>11/9/2018</p>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="viewer-info text-center">

                                <div class="primary">
                                    <p class="lable">Person A</p>
                                    <P>job title</P>
                                </div>

                                <p class="total-view"><span class="lable">Views:</span> 2</p>

                                <div class="viewer-time">
                                    <p class="lable">viewing Time:</p>
                                    <P>250 Seconds</P>
                                </div>

                                <div class="last-view-time">
                                    <p class="lable">last View:</p>
                                    <P>8:00 PM PST</P>
                                    <p>11/9/2018</p>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- LOADER  -->
    <div class="loader_hp_">
        <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
    </div>
    <script src="/js/module/userPitch/pitchDetails.js"></script>
    <script src="/js/module/endUser/pitchSliders.js"></script>
</body>

</html>